<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="header-title"> Proyecto Biblioteca </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content-background">

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="anadirLibroSegundaPagina()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <h1 class="title">LISTA DE LIBROS</h1>
  <ion-list>
    <ion-item
      *ngFor="let documentTarea of arrayColeccionTareas"
      (click)="selecLibro(documentTarea)"
      class="list-item"
    >
      <ion-grid>
        <ion-row>
          <h2 class="book-title">{{ documentTarea.data.titulo }}</h2>
        </ion-row>
        <ion-row>
          <p class="book-author">{{ documentTarea.data.autor }}</p>
        </ion-row>
        <ion-row>
          <p class="book-editorial">{{ documentTarea.data.editorial }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
