<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Proyecto Biblioteca </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Título </ion-label>
    <ion-input [(ngModel)]="tareaEditando.titulo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Autor </ion-label>
    <ion-input [(ngModel)]="tareaEditando.autor"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Editorial </ion-label>
    <ion-input [(ngModel)]="tareaEditando.editorial"></ion-input>
  </ion-item>

  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="anadirLibroSegundaPagina()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-button (click)="clicBotonInsertar()">Añadir libro</ion-button>
  <ion-button (click)="clickBotonBorrar()">Borrar libro</ion-button>
  <ion-button (click)="clicBotonModificar()">Modificar tarea</ion-button>

  <h1>LISTA DE LIBROS</h1>
  <ion-list>
    <ion-item
      *ngFor="let documentTarea of arrayColeccionTareas"
      (click)="selecLibro(documentTarea)"
    >
      <ion-grid>
        <ion-row>
          <h2>{{ documentTarea.data.titulo }}</h2>
        </ion-row>
        <ion-row>
          <p>{{ documentTarea.data.autor }}</p>
        </ion-row>
        <ion-row>
          <p>{{ documentTarea.data.editorial }}</p>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
