#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.header-title {
  font-size: 1.5em;
  font-weight: bold;
  color: #ffffff;
}

.content-background {
  background-color: #f0f0f5;
}

.title {
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
  color: #666666; /* Cambiado a un color más claro */
}

.list-item {
  margin: 10px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #666666; /* Cambiado a un color más claro */
}

.book-author, .book-editorial {
  font-size: 1em;
  color: #888888; /* Cambiado a un color más claro */
}